<launch>

	<!-- Initialize Kinect via OpenNI -->
	<include file="$(find openni_launch)/launch/openni.launch" >
		 <arg name="depth_registration" value="true" />
	</include>		      	

	<!-- Start Converter node -->
	<node type="images_to_cloud.py" pkg="kinect_numpy_tools" name="images_to_cloud" output="screen" />

	<!-- Image Viewer Window -->
	<!--node type="image_view" pkg="image_view" name="image_view" output="screen" -->
	      <!--remap from="image" to="/camera/rgb/image_color_filtered" /-->
	<!--/node-->


</launch>